<!DOCTYPE html>
<html>
  <head>
    <title>MyRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-token" content="<%= csrf_meta_tags['csrf-token'] %>">
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
